@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
	/* --font-base: 'DM Sans', sans-serif; */
	--font-base: 'Lato', sans-serif;
	--font-title: 'Playfair Display', serif;

	--primary-color: #fff9f9;
	--secondary-color: #46448d;
	--secondary-color-20: rgba(28, 117, 235, 10%);
	--black-color: #3a3a3a;
	--gray-color: #c7c7c7;
	--brown-color: #746179;
	--white-color: #ffffff;
	--snow-color: #fffef9;
	--blueGray-color: #f1f6fc;
	--apricot-color: #dfbf9f;

	--lightRed-color: #fa9393;
	--lightYellow-color: #fef7e1;
	--lightGreen-color: #ccffcc;
	--lightBlue-color: #e6f5fe;
	--lightPurple-color: #e3e3ff;
	--lightGray-color: #ebe8e8;

	--dividerRed-color: #895454;
	--skin-color: #ffead7;
	--darkSkin-color: #ffcea1;
	--transparentRed-color: #ffe7e7;

	--darkBlue-color: #222b56;
	--darkApricot-color: #8e5a26;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

html,
body,
#root {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-title);
}

p {
	font-family: var(--font-base);
}

svg {
	height: 24px;
	width: 24px;
	opacity: 0.8;
	color: var(--black-color);
}

svg:hover {
	cursor: pointer;
	opacity: 1;
}

input {
	border-color: none;
	border: 1px solid var(--lightGray-color);
	padding: 4px 8px;
	border-radius: 4px;
}

input:focus {
	/* border-color: var(--secondary-color); */
	outline: none;
	border: 1px solid var(--secondary-color);
	box-shadow: 0 0 2px var(--secondary-color);
}

button {
	border-radius: 4px;
	border: none;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

a:hover {
	/* text-decoration: underline; */
	color: var(--secondary-color);
}
