.app__card-details {
	// width: 50%; //?
	flex: 1;
	// padding: 40px 0;
	display: flex;
	// justify-content: center;
	// align-items: center;
	margin: 20px;
	flex-direction: column;

	img {
		object-fit: cover;
		width: 100%;
	}
	p {
		span {
			font-weight: 700;
			// color: val(--secondary-color);
		}
	}
}

.tags-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 0;
	p {
		text-transform: capitalize;
	}
	.yellow-icon {
		color: var(--yellow-color);
	}
	.tag-container__box {
		padding: 4px 16px;
		opacity: 1;
		margin-right: 15px;
		border-radius: 12px;
		opacity: 1;
	}
	.tags-container__rating-box {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		svg {
			color: var(--yellow-color);
		}
	}
}
