.app__card-details {
	// width: 50%; //?
	flex: 1;
	// padding: 40px 0;
	display: flex;
	// justify-content: center;
	// align-items: center;
	margin: 20px;
	flex-direction: column;

	img {
		object-fit: cover;
		width: 100%;
	}
	p {
		span {
			font-weight: 700;
			// color: val(--secondary-color);
		}
	}
}

.tags-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 0;
	p {
		text-transform: capitalize;
	}
}
