.app__love-exercise {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 160px 80px 80px;

	.app__love-exercise__card-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@media screen and (max-width: 1200px) {
		padding: 140px 40px 60px;
	}

	@media screen and (max-width: 500px) {
		padding: 120px 8px 40px;
	}
}
