.app__love-exercise {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 160px 80px;
	.app__love-exercise__card-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}

// tagbar style
.tagbar {
	height: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 15px 0;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.tagbar__container {
	height: 100%;
	padding: 0 16px;
	background: var(--skin-color);
	opacity: 1;
	margin-right: 15px;
	border-radius: 12px;
	// flex: 1;

	&:hover {
		cursor: pointer;
		background: var(--darkSkin-color);
	}
}
