.app__exercise-detail {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 80px 80px;
}

.detail-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.horizontal-scrollbar-container {
	width: 100%;
	h2 {
		text-align: left;
		font-weight: 700;
		margin-top: 15px;
	}
}

.card-detail-container {
	flex: 1;
	h2 {
		margin-top: 15px;
	}
	.card-detail-container__comment-container {
		margin: 20px;
		textarea {
			width: 100%;
		}
		.card-detail-container__comment-container__action-container {
			display: flex;
			justify-content: flex-end;
			margin-top: 16px;
			div:first-child {
				margin-right: 30px;
			}
			div {
				padding: 10px 20px;
				border-radius: 4px;
				color: var(--secondary-color);
				opacity: 0.9;
				&:hover {
					cursor: pointer;
					opacity: 1;
					background-color: var(--secondary-color-20);
				}
			}
		}
	}
}

.video-container {
	flex: 0.5;
	margin-left: 10px;
	margin-top: 20px;
	.tag-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		.tag-container__tag-box {
			height: 100%;
			padding: 4px 16px;
			opacity: 0.9;
			margin-right: 15px;
			border-radius: 12px;

			p {
				text-transform: capitalize;
			}

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
	}
}

.content {
	padding: 10px;
}
