.app__exercise-detail {
	// display: flex;
	// align-items: flex-start;
	// flex-direction: column;
	padding: 80px 80px;
}

.detail-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	@media screen and (max-width: 1000px) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}

.horizontal-scrollbar-container {
	width: 100%;
	h2 {
		text-align: left;
		font-weight: 700;
		margin-top: 15px;
	}
}

.card-detail-container {
	flex: 1;

	.card-detail-container__comment-title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		// h2,
		// p {
		// 	text-align: bottom;
		// }
	}
	.card-detail-container__comment-container {
		margin: 20px;
		textarea {
			width: 100%;
		}
		.card-detail-container__comment-container__action-container {
			display: flex;
			justify-content: flex-end;
			margin-top: 16px;
			div:nth-child(2) {
				margin-right: 15px;
			}
			div:nth-child(2),
			div:nth-child(3) {
				padding: 4px 20px;
				border-radius: 4px;
				color: var(--secondary-color);
				opacity: 0.9;
				&:hover {
					cursor: pointer;
					opacity: 1;
					background-color: var(--secondary-color-20);
				}
			}
			.exercise-detail__rating-box {
				flex: 1;
				svg {
					color: var(--yellow-color);
				}
				@media screen and (max-width: 1200px) {
					svg {
						height: 28px;
						width: 28px;
					}
				}
				@media screen and (max-width: 500px) {
					svg {
						height: 24px;
						width: 24px;
					}
				}
			}
			@media screen and (max-width: 1000px) {
				div:nth-child(2) {
					margin-right: 0;
				}
				div:nth-child(2),
				div:nth-child(3) {
					padding: 2px 20px;
				}
			}
			@media screen and (max-width: 500px) {
				div:nth-child(2),
				div:nth-child(3) {
					padding: 2px 10px;
				}
			}
		}
	}
	.card-detail-container__comment-reviews {
		margin: 20px;
	}
}

.video-container {
	flex: 0.5;
	margin-left: 10px;
	margin-top: 20px;
	.tag-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		.tag-container__tag-box {
			height: 100%;
			padding: 4px 16px;
			opacity: 0.9;
			margin-right: 15px;
			border-radius: 12px;
			white-space: nowrap;

			p {
				text-transform: capitalize;
			}

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
	}
}

.content {
	padding: 10px;
}
