.app__user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 160px 80px 80px;

	max-width: 1000px;

	.app__user-info__detail-container {
		width: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 15px 0;

		.title {
			display: flex;
			align-items: center;
			margin-bottom: 8px;

			button {
				margin-left: 15px;
			}
			h2 {
				text-align: left;
			}
		}
	}
	@media screen and (max-width: 1200px) {
		padding: 120px 40px 60px;

		.app__user-info__detail-container {
			padding: 12px 0;
			.title {
				margin-bottom: 4px;
				button {
					margin-left: 12px;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		justify-content: flex-start;
		padding: 100px 8px 80px;
		.app__user-info__detail-container {
			padding: 8px 0;
		}
	}
}

.avatar-container {
	position: relative;

	img,
	#avatar-image-placeholder__icon {
		width: 125px;
		height: 125px;
		border-radius: 50%;
	}
	svg {
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}

	#icon-tooltip {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	#avatar-image-placeholder__icon {
		fill: var(--black-color);
		&:hover {
			cursor: auto;
			opacity: 0.8;
		}
	}

	@media screen and (max-width: 1200px) {
		img,
		#avatar-image-placeholder__icon {
			width: 100px;
			height: 100px;
		}
		svg {
			width: 30px;
			height: 30px;
		}
	}
	@media screen and (max-width: 500px) {
		img,
		#avatar-image-placeholder__icon {
			width: 80px;
			height: 80px;
		}
		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.app__user-info__image-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	img {
		margin-top: 15px;
	}

	p {
		margin-top: 15px;
	}
	@media screen and (max-width: 500px) {
		img {
			width: 80px;
			height: 80px;
		}
	}
}

.app__user-info__input-container {
	.subHead-text {
		text-align: left;
		margin-bottom: 10px;
		font-weight: 600;
	}
	input {
		width: 100%;
	}
}

.dialog-action-button {
	@media screen and (max-width: 1200px) {
		.p-text-18 {
			padding: 4px 12px;
		}
	}
	@media screen and (max-width: 500px) {
		.p-text-18 {
			padding: 4px 8px;
		}
	}
}
