.cancel-icon {
	height: 32px;
	width: 32px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	.logo-container {
		img {
			width: 180px;
		}
	}
}
