.app__basic-card {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 276px;
	min-height: 400px;
	// border: 1px solid var(--black-color);
	border-radius: 12px;
	background-color: var(--blueGray-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 20px 20px;

	.p-text-18 {
		margin: 0 20px 10px;
		text-transform: capitalize;
	}
	.p-text-16 {
		margin: 0 10px 10px;
		text-transform: capitalize;
	}

	@media screen and (max-width: 1200px) {
		width: 250px;
		min-height: 350px;
	}
	@media screen and (max-width: 500px) {
		width: 200px;
		min-height: 300px;
	}
}

.basic-card__image-container {
	img {
		max-width: 100%;
		object-fit: fill;
		border-radius: 12px 12px 0 0;
	}
	border-radius: 12px 12px 0 0;
	background-color: var(--white-color);
}

.basic-card__tag-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 8px 0;
	.basic-card__tag-container__box {
		padding: 4px 16px;
		opacity: 1;
		border-radius: 4px;
		opacity: 1;
		@media screen and (max-width: 1200px) {
			padding: 4px 12px;
		}
		@media screen and (max-width: 500px) {
			padding: 4px 8px;
		}
	}
}

.basic-card__action-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.p-text-16 {
		color: var(--secondary-color);
		padding: 0 10px;
		border-radius: 4px;
		&:hover {
			cursor: pointer;
			background-color: var(--secondary-color-20);
		}
	}
	// svg {
	// 	height: 24px;
	// 	width: 24px;
	// }
}
